.filter {
  padding: 5px;

  .filter-wrapper {
    padding: 5px;
    margin: 0 5px;

    background-color: #FFFFFF;

    .wrapper-title {
      margin: 0;
      padding: 5px;
    }

    .posts-search {
      padding: 5px;

      .search-input {
        box-sizing: border-box;
        width: 100%;
        height: 36px;

        padding: 0 14px;

        outline: none;
        border: 1px solid #929CA5;
      }

      .search-input:focus {
        border: 1px solid #548EAA;
      }
    }

    .sort-and-create-news {
      display: flex;
      align-items: center;

      .posts-sorting {
        display: flex;

        .sorting-radio {
          padding: 5px;

          input[type="radio"] {
            visibility: hidden;
            height: 0;
            width: 0;
          }
        }

        .radio-active {
          label {
            text-decoration: underline;
            color: #548EAA;
          }
        }
      }

      .create-news-btn {
        display: inline-flex;
        align-items: center;

        margin-left: auto;
        margin-right: 5px;
        padding: 5px 10px;

        border: 1px solid #548EAA;
        border-radius: 3px;
        color: #548EAA;
        background-color: transparent;
        text-decoration: none;

        line-height: 1.6875rem;
      }

      .create-news-btn:hover {
        color: #FFFFFF;
        background-color: #548EAA;
        cursor: pointer;

        transition-duration: 0.5s;
      }
    }
  }
}