.form {
  padding: 5px;

  form {
    display: flex;
    flex-direction: column;

    padding: 5px;
    margin: 0 5px;

    background-color: #FFFFFF;

    .form-title {
      margin: 0;
      padding: 5px;
    }

    label {
      display: flex;
      flex-direction: column;

      padding: 5px;

      span {
        padding: 5px;
      }

      input {
        outline: none;
      }

      textarea {
        outline: none;
        resize: none;
      }
    }

    .submit {
      display: inline-flex;
      align-items: center;

      width: fit-content;

      margin: 5px;
      padding: 10px;

      border: 1px solid #548EAA;
      border-radius: 3px;
      color: #548EAA;
      background-color: transparent;
      text-decoration: none;

      line-height: 1.6875rem;
    }

    .submit:hover {
      cursor: pointer;
      color: #FFFFFF;
      background-color: #548EAA;

      transition-duration: 0.5s;
    }

    .submit:active {
      position: relative;
      top: 1px;
    }
  }

  &.hidden {
    display: none;
  }
}