.log-in {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .log-in-form {
    display: flex;
    flex-direction: column;

    .form-field {
      display: flex;
      flex-direction: column;

      margin: 5px;
    }

    .log-in-btn {
      align-self: center;

      margin: 5px;
    }
  }
}